body {
    padding-top: 50px; 
}

#container {

    padding-top: 0px;
}


.navbar-nav > li > a {padding-top:15px !important; padding-bottom:15px !important;}
.navbar {min-height:60px !important}


.navbar-brand
{
    position: relative;
    background: url(/images/ecrcentral-logo.svg) no-repeat;
    width: 180px;
    top: 3px;
    left: 3px;
    bottom: 3px;
    background-size: contain;
    max-height: 60px; /* height of the navbar */
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    background-color: #34495e;
    background-image: url(/images/banner-homepage11.png);
    padding-bottom: 20px;
    padding-top: 20px;
    background-repeat: repeat;
}

#footerc {
    background-color: #34495e;
    padding-bottom: 10px;
    padding-top: 15px;
    background-repeat: repeat;
    text-align: center;
    font-size: 15px;
}


#headerwrap h1 {
    margin-top: 30px;
    color: white;
    xfont-size: 70px;
    
}
#headerwrap h2 {
    color: white;
    font-size: 33px;
    line-height: 40px;
}

#headerwrap h3 {
    color: white;
    font-size: 30px;
    line-height: 40px;
}

#headerwrap h5 {
    color: white;
    font-weight: 700;
    text-align: left;
}

#headerwrap p {
    text-align: left;
    color: white;
}

/* intro Wrap */

#intro {
    padding-top: 50px;
    border-top: #c1652b solid 5px;
}

#search-box {
    border-top: #c1652b solid 2px;
    border-bottom: #c1652b solid 2px;
    background-image: url(/images/banner.jpg);
    padding-bottom: 20px;
    padding-top: 35px;
    background-repeat: repeat;
}

#intro2 {
    border-top: #E7E9EC solid 1px;
    border-bottom: #E7E9EC solid 1px;
    background-color: #ECF0F1;
    padding-bottom: 20px;
    padding-top: 40px;
    background-repeat: repeat;

}

#page-header {
    background-color: #38495c;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}
#page-header h3 {
    color: white;
    text-align: center;
}

#upcoming {
    background-color: #19b491;
    padding-top: 50px;
    padding-bottom: 50px;
}
#upcoming h3 {
    color: white;
}

#features {
    padding-top: 50px;
    padding-bottom: 50px;
}

#features .ac a{
    font-size: 20px;
}

/* Showcase Wrap */

#showcase {
    display: block;
    background-color: #34495e;
    padding-top: 50px;
    padding-bottom: 50px;
}

#showcase h1 {
    color: white;
}

#footerwrap {
    background-color: #2f2f2f;
    color: white;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: left;
}

#footerwrap h3 {
    font-size: 28px;
    color: white;
}

#footerwrap p {
    color: white;
    font-size: 18px;
}

/* Copyright Wrap */

#c {
    background: #222222;
    padding-top: 15px;
    text-align: center;
}

#c p {
    color: white
}

h3.feature-title {
    color: #329ef4;
}
ol.features {
    padding: 0px;
}
ol.features li {
    margin-bottom: 15px;
    padding-left: 5px;
}
.contact-link {
    margin-bottom: 10px;
}
.contact-link i {
    margin-right: 7px;
}





/* ==========================================================================
   For Blog
   ========================================================================== */


.post-slide {
    margin: 0 15px;
    position: relative;
    background: #FFF;
}
.post-slide .post-img {
    position: relative;
    overflow: hidden;
}
.post-slide .post-img img {
    width: 100%;
    height: auto;
}
.post-slide .over-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.30s ease;
}
.post-slide:hover .over-layer {
    opacity: 1;
}
.post-slide .post-link {
    margin: 0;
    padding: 0;
    position: relative;
    top: 45%;
    text-align: center;
}
.post-slide .post-link li {
    display: inline-block;
    list-style: none;
    margin: -9px 0 0;
}
.post-slide .post-link li a {
    color: #FFF;
    font-size: 39px;
}
.post-slide .post-link li a:hover {
    color: #FF8B3D;
    text-decoration: none;
}
.post-slide .post-date {
    position: absolute;
    bottom: 5%;
    right: 3%;
}
.post-slide .date {
    display: inline-block;
    border-radius: 3px 0 0 3px;
    padding: 5px 10px;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background: #333;
    float: left;
}
.post-slide .month {
    display: inline-block;
    border-radius: 0 3px 3px 0;
    padding: 5px 13px;
    color: #111;
    font-size: 15px;
    background: #d86e3e;
}
.post-slide .post-content {
    padding: 30px;
    background-color: #F5F5F6;
}
.post-slide .post-title {
    margin: 0 0 15px 0;
}
.post-slide .post-title a {
    font-size: 17px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover {
    text-decoration: none;
    color: #d86e3e;
}
.post-slide .post-description {
    font-size: 14px;
    line-height: 22px;
    color: #444444;
    padding: 0 0 10px 0;
}
.post-slide .read-more {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    transition: color 0.20s linear;
}
.post-slide .read-more:hover {
    text-decoration: none;
    color: #FF8B3D;
}
.post-slide .read-more:after {
    content: "";
    position: absolute;
    width: 30%;
    display: block;
    border: 1px solid #FF8B3D;
    transition: all 0.30s ease;
}
.post-slide .read-more:hover:after {
    width: 100%;
}
@media only screen and (max-width: 479px) {
    .post-slide .month {
        font-size: 14px;
    }
    .post-slide .date {
        font-size: 14px;
    }
}
div.clanky .row {
    padding-top: 35px;
}


/*
User profile page
*/


.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*panel heading*/
.panel-heading {
    padding: 15px 10px 15px 10px;
    border-bottom: 0px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f6f8;
    border-color: none!important;
}


.btn-white:hover {
    background-color: #969ca5!important;
}

.profile-content h3{
    margin:15px 0 10px 0!important;
    }

.stats {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    display: table;
    }

.stats .statis {
    display: table-cell;    
    width: 25%;
    vertical-align: top;
    }

.ibox-content {
    background-color: #FFFFFF;
    color: inherit;
    padding: 0px 20px 20px 20px;
    }

.feed-activity-list .feed-element {
    border-bottom: 1px solid #E7EAEC;
    }

.feed-element {
    padding: 15px 0 15px 0;
    }

.feed-element img.img-circle, .dropdown-messages-box img.img-circle {
    width: 38px;
    height: 38px;
    }

.feed-element > .pull-left {
    margin-right: 10px;
    }

.feed-element .well {
    border: 1px solid #E7EAEC;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 16px;
    }
.well p{
font-size: 12px;
}
.img-circle {
    border-radius: 50%;
    }

.text-navy {
    color: #1AB394;
    }

.feed-element .actions {
    margin-top: 10px;
    }

.feed-photo {
    height: 180px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    }


@media(min-width: 768px) and (max-width: 991px) {
        .feed-photo {
            width: 100%;
            height: 350px!important;
            border-radius: 4px;
            overflow: hidden;
            margin-right: 10px;
            margin-bottom: 10px;
            }
}

@media(min-width: 480px) and (max-width: 767px) {
        .feed-photo {
            width: 100%;
            height: 300px!important;
            border-radius: 4px;
            overflow: hidden;
            margin-right: 10px;
            margin-bottom: 10px;
            }
}

@media(max-width:480px) { 
        .feed-photo {
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        margin-right: 10px;
        margin-bottom: 10px;
        }
}



/* avatar */


pre {
  margin: 20px 0;
  padding: 20px;
  background: #fafafa;
}

.round { border-radius: 50%; }